{{ partial "header" . }}

{{ with .Params.header_slideshow }}
    {{ partial "slideshow" (dict 
        "data" .
        "line" "bl"
        "circle" $.Params.top_circle_images
        "circleDir" "left"
        "buttonDown" true
        "content" true
        )}}
{{ end }}

{{ with .Params.brasserie_text_block }}
    {{ partial "text_block" (dict 
        "data" .
        "dir" "right"
        "line" "bl"
    )}}
{{ end }}

{{ with .Params.appartementen_slideshow }}{{ partial "slideshow" (dict "data" .)}}{{ end }}
{{ with .Params.appartementen_text_block }}{{ partial "text_block" (dict  "data" . )}}{{ end }}

{{ with .Params.de_cocksdorp_block }}
    <section class="cocksdorp has-circle">
        <figure>
            {{ partial "image" (dict 
                "path" "/img/texel_klein.png"
                "size" "1000x1000 q100"
                "png" true
                "fit" true
            )}}
            <img class="cross" src="/img/crosshair.svg" alt="Crosshair icon">
            <a class="btn" target="_blank" href="https://www.google.nl/maps/place/De+Cocksdorp/@53.1557083,4.870158,16.8z/data=!4m5!3m4!1s0x47cf2fcb0f39c4ed:0xb5f53f7abad5cb67!8m2!3d53.1550263!4d4.8696559">Plan de route</a>
        </figure>
        <section class="content br">
            {{ partial "standard_article" . }}
            {{ with $.Params.de_cocksdorp_images }}
                {{ partial "circle" (dict
                    "data" .
                    "dir" "right"    
                    "buttonUp" true
                ) }}
            {{ end }}
        </section>
    </section>
{{ end }}


{{ with .Params.over_ons_text_block }}
{{ partial "text_block" (dict 
    "data" .
    "dir" "left"
    "line" "br"
    )}}
{{ end }}


{{ with .Params.bottom_slideshow }}
    {{ partial "slideshow" (dict 
        "data" .
        "bottom" true
        "content" true
        "line" "br"
        )}}
{{ end }}

{{ partial "footer" . }}