<div id="breadcrumbs">
    <a href="/">Home</a>
    {{ $url := replace $.RelPermalink "/" "" }}
    {{ .Scratch.Set "permalinkparts" (split .RelPermalink "/") }}
    {{ range $index, $part := (.Scratch.Get "permalinkparts") }}
        {{ range $i, $num := (seq 10) }}
            {{ if ge $index $i }}
                {{ if eq $i 0 }}
                    {{ $.Scratch.Set "url" (index ($.Scratch.Get "permalinkparts") $i) }}
                {{ else }}
                    {{ $.Scratch.Add "url" (print (index ($.Scratch.Get "permalinkparts") $i) "/") }}
                {{ end }}
            {{ end }}
        {{ end }}
        {{ if gt (len $part ) 0 }}
            {{ if eq (replace ($.Scratch.Get "url") "/" "") $url }}
                <span class="divider">/</span> <span>{{ humanize (replace $part "posts" "blog") }}</span>
            {{ else }}
                <span class="divider">/</span> <a href="/{{ $.Scratch.Get "url" }}">{{ humanize (replace $part "posts" "blog") }}</a>
            {{ end }}
        {{ end }}
    {{ end }} 
</div>