{{ if (index .data 0).image }}
    {{ $circleImages := .data }}
    {{ $moreThanOne := gt (len .data) 1 }}
    <figure class="circle {{ .dir }}">
        {{ if $moreThanOne }}
            <button class="arrow left" onclick="nextPic(this, 0)" ></button>
            <button class="arrow right" onclick="nextPic(this, 1)" ></button>
        {{ end }}

        {{ if .buttonDown }}{{ range seq 2}}
            <button class="arrow down" onclick="window.scrollBy(0,window.innerHeight * 0.9);"></button>
        {{ end }}{{ end }}

        {{ if .buttonUp }}{{ range seq 2 }}
            <button class="arrow up" onclick="window.scrollTo(0,0);"></button>
        {{ end }}{{ end }}
            <ul>
                {{/*  This bit reverses the list so that the first image in the frontmatter will 
                    also be the first image on the website.  */}}
                {{ $len := len $circleImages }} 
                {{ range (seq $len) }} 
                    {{ $i := sub $len . }} 
                    {{ $item := index $circleImages $i }} 
                    <li>
                        {{ partial "image" (dict
                            "path" $item.image
                            "size" "500x500"
                        )}}
                    </li>
                {{ end }}
            </ul>
    </figure>
{{ end }}