<!DOCTYPE html>
<html lang="nl">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

{{ if eq .Kind "home" }}
<title>{{ .Site.Title }}</title>
{{ else }}
<title>{{ .Params.title }} | {{ .Site.Title }}</title>
{{ end }}

{{ if .Params.meta }}
    <meta name="description" content="{{ .Params.meta }}">
{{ else }}
    {{ if ne .Layout "home" }}
        <meta name="description" content="{{ .Summary }}">
    {{ else }}
        <meta name="description" content='{{ .Param "description" }}'>
    {{ end}}
{{ end}}

{{ if .IsTranslated }}
	{{ range .Translations }}
	<link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
	{{ end }}
{{ end }}


<link rel="shortcut icon" type="image/png" href="/img/icon-196x196.png">
<link rel="shortcut icon" sizes="196x196" href="/img/icon-196x196.png">
<link rel="apple-touch-icon" href="/img/icon-196x196.png">

<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/fonts.css">
{{/*   {{ partial "cookies/cookieScript.html"  }}   */}}
</head>

<body class='{{ .Layout }} {{ .Scratch.Get "extraClass" }}' id="top">
{{ partial "navigation.html" . }}