<section class="slideshow {{ with .circle }}has-circle{{ end }} {{ if .bottom }}bottom{{ end }} {{ .class }}">
    {{ partial "tooltips" .data }}
    <div class="overflower">
        {{ if gt (len .data) 1 }}
            <button onclick="slide(this, 0)"></button>
            <button onclick="slide(this, 1)"></button>
            <figure class="slider no">
        {{ else }}
        <figure class="slider no one">
        {{ end }}
            <ul>
                {{/*  If 3 or more slides, put the last one in front as we have to have smooth sliding  */}}
                {{ if gt (len .data) 2 }}
                    {{ range after (sub (len .data) 1) .data }}
                        {{ partial "slide" . }}
                    {{ end }}
                        
                    {{ range first (sub (len .data) 1) .data }}
                        {{ partial "slide" . }}   
                    {{ end }}

                {{/*  If 2 slides, do the same as in three, but do it twice so we don't have a laggy transition  */}}
                {{ else if gt (len .data) 1 }}
                    {{ $data := .data }}
                    {{ range seq 2 }}
                        {{ range after (sub (len $data) 1) $data }}
                            {{ partial "slide" . }}
                        {{ end }}                
                        {{ range first (sub (len $data) 1) $data }}
                            {{ partial "slide" . }}   
                        {{ end }}
                    {{ end }}
                {{ else }}
                {{/*  If one slide, just put in the one slide. Order won't matter  */}}
                    {{ range .data }}
                        {{ partial "slide" . }}
                    {{ end }}
                {{ end }}
            </ul>
        </figure>
    </div>
    {{ if .content }}
        <section class="content {{ .line }}">
            {{ with .circle }}
                {{ partial "circle" (dict 
                    "data" .
                    "dir" $.circleDir 
                    "buttonDown" $.buttonDown
                    "buttonUp" $.buttonUp
                ) }}
            {{ end }}
            
            {{ with .buttonText }}
                <figure class="circle button">
                    <a href="{{ .url }}">
                        <h3>{{ .overtitle }}</h3>
                        <h2>{{ .title }}</h2>
                    </a>
                </figure>
            {{ end }}

            {{ if .bottom }}
                <a class="logo" href="/"><img src="/img/logo.png" alt="Texels goud logo"></a>
            {{ end }}
        </section>
    {{ end }}
</section>