{{/*  If 3 or more slides, put the last one in front as we have to have smooth sliding  */}}
{{ if gt (len .) 2 }}
{{ range after (sub (len .) 1) . }}
    {{ partial "tooltip" . }}
{{ end }}
    
{{ range first (sub (len .) 1) . }}
    {{ partial "tooltip" . }}   
{{ end }}

{{/*  If 2 slides, do the same as in three, but do it twice so we don't have a laggy transition  */}}
{{ else if gt (len .) 1 }}
{{ $data := . }}
{{ range seq 2 }}
    {{ range after (sub (len $data) 1) $data }}
        {{ partial "tooltip" . }}
    {{ end }}                
    {{ range first (sub (len $data) 1) $data }}
        {{ partial "tooltip" . }}   
    {{ end }}
{{ end }}
{{ else }}
{{/*  If one slide, just put in the one slide. Order won't matter  */}}
{{ range . }}
    {{ partial "tooltip" . }}
{{ end }}
{{ end }}