{{/*  One tooltip  */}}
{{ with .tooltip }}{{ if or .title .textarea (and .button_text .button_url) }}
{{ $id := print $.image | urlize }}
<button class="tooltip" style="top: {{ .top }}%; left: {{ .left }}%" data-for="{{ $id }}">
    <article class="border-in">
        {{ with .title }}<h3>{{ . }}</h3>{{ end }}
        {{ with .textarea }}<p>{{ . }}</p>{{ end }}
        {{ if and .button_url .button_text }}{{ partial "btn" . }}{{ end }}
    </article>
</button>
{{ end }}{{ end }}
{{/*  Multiple tooltips  */}}
{{ with .tooltips }}{{ range . }}{{ if or .title .textarea (and .button_text .button_url) }}
{{ $id := print $.image | urlize }}
<button class="tooltip" style="top: {{ .top }}%; left: {{ .left }}%" data-for="{{ $id }}">
    <article class="border-in">
        {{ with .title }}<h3>{{ . }}</h3>{{ end }}
        {{ with .textarea }}<p>{{ . }}</p>{{ end }}
        {{ if and .button_url .button_text }}{{ partial "btn" . }}{{ end }}
    </article>
</button>
{{ end }}{{ end }}{{ end }}